.title {
  font-size: 22px;
  font-weight: 600;
  color: #343C6A;
  margin-bottom: 20px;
  /* $text-dark */
  margin-top: 15px;
}

.service-stat {
  border-radius: 12px;
}

.service-stat-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.service-stat-content img {
  width: 40px;
  height: 40px;
}

.service-sub {
  font-size: 12px;
  color: #888;
}

.services-section {
  margin-top: 24px;
}

.service-item {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  border-bottom: 1px solid #f0f0f0;
}

.service-item:last-child {
  border-bottom: none;
}

.service-left {
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: 220px;
}

.service-left img {
  width: 60px;
  border-radius: 8px;
  background: #f7f7f7;
  padding: 6px;
}

.service-info {
  display: flex;
  flex-direction: column;
}





.service-cols {
  display: flex;
  flex: 1;
  justify-content: space-around;
  text-align: center;
  font-size: 13px;
  color: #555;
}

.service-cols div {
  flex: 1;
  text-align: left;
}



.service-stat-content img {
  width: 70px;
  height: 70px;
}

.service-title {
  font-size: 20px;
}

.service-desc {
  font-size: 15px;
  font-weight: 400;
  color: rgba(113, 142, 191, 1);
}

.item-title {
  font-size: 16px;
}

.service-left img {
  width: 60px;
  border-radius: 8px;
  background: #f7f7f7;
  padding: 6px;
}

.item-desc {
  font-size: 15px;
  font-weight: 400;
  color: rgba(113, 142, 191, 1);
}

@media(max-width:1439.98px) {
  .service-stat-content img {
    width: 50px;
    height: 50px;
  }

  .service-title {
    font-size: 16px;
  }

  .service-desc {
    font-size: 12px;
  }

  .item-title {
    font-size: 13px;
  }

  .item-desc {
    font-size: 12px;
  }

  .service-left img {
    width: 45px;
  }

  .title {
    font-size: 18px;
  }
}

@media(max-width:1023.98px) {
  .hide-mobile {
    display: none;
  }

  .title {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .service-item {
    gap: 12px;
  }

  .service-cols {
    justify-content: flex-start;
    gap: 20px;
  }

  .service-item button {
    align-self: flex-end;
  }
}