.title {
  font-size: 18px;
  font-weight: 600;
  color: #343C6A;
  /* $text-dark */
}

.home .section-header {
  margin-bottom: 20px;
}

.home .card {
  flex: 1;
  border-radius: 20px;
  padding: 20px;
  min-height: 180px;
  height: 235px;
  width: 350px;
}

.home .card .number {
  margin-top: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 600;
}

.home .blue-card {
  background: linear-gradient(107.38deg, #4C49ED 2.61%, #0A06F4 101.2%);
  color: #fff;
}

.home .blue-card .balance,
.home .blue-card .holder,
.home .blue-card .valid {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}

.home .card.blue-card .money {
  font-size: 20px;
  font-weight: 600;
}

.home .blue-card .holder .name,
.home .blue-card .valid .ratio {
  font-weight: 600;
  font-size: 15px;
  color: #fff;
}

.home .blue-card .number {
  font-size: 22px;
  color: #fff;
}

.home .white-card {
  background: #f9fafb;
  border: 1px solid #ddd;
  color: #343C6A;
}

.home .white-card .balance,
.home .white-card .holder,
.home .white-card .valid {
  font-size: 12px;
  font-weight: 400;
  color: rgba(113, 142, 191, 1);
}

.home .white-card .money {
  font-size: 20px;
  font-weight: 600;
  color: #343C6A;
}

.home .white-card .holder .name,
.home .white-card .valid .ratio {
  font-weight: 600;
  font-size: 15px;
  color: #343C6A;
}

.home .white-card .number {
  font-size: 22px;
  color: #343C6A;
}

.home .right-side .recent,
.home .right-side .expense {
  margin-bottom: 20px;
}

.home .right-side .recent .list-payment {
  background-color: #fff;
  border-radius: 50px;
  height: 235px;
  width: 350px;
  padding: 20px;
}

.home .right-side .recent .list-payment .item {
  margin: 5px 0;
}

.home .right-side .recent .list-payment .item .infor {
  font-size: 16px;
  margin-bottom: 5px;
}

.home .right-side .recent .list-payment .item .date {
  font-size: 15px;
  color: rgba(113, 142, 191, 1);
}

.home .right-side .recent .list-payment .item .positive {
  color: rgba(65, 212, 168, 1);
  font-size: 16px;
}

.home .right-side .recent .list-payment .item .negative {
  color: rgba(255, 75, 74, 1);
  font-size: 16px;

}

.home .right-side .icon {
  width: 55px;
}

.home .right-side .expense img {
  width: 100%;
  border-radius: 10px;
}

.home .section-2 {
  margin: 40px 0;
}

.home .section-2 .activity img,
.home .section-2 .balance img {
  width: 100%;
  border-radius: 10px;
}

.home .transfer-card {
  background-color: #fff;
  border-radius: 50px;
  width: 445px;
  height: 276px;
  padding: 40px;
}

.home .transfer-card .people {
  margin-bottom: 50px;
}

.home .transfer-card .people .person {
  text-align: center;
}

.home .transfer-card .transfer-form .transfer-title {
  font-size: 16px;
  font-weight: 400;
  color: rgba(113, 142, 191, 1);
}

.home .transfer-card .transfer-form .groupBtn {
  height: 50px;
  position: relative;
}

.home .transfer-card .transfer-form .groupBtn input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  padding: 8px 15px;
  border: 1px solid #ccc;
}

.home .transfer-card .transfer-form .groupBtn .btn {
  background: #0A06F4;
  border: none;
  color: #fff;
  border-radius: 25px;
  padding: 8px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  height: 100%;
  right: 20px;
}

.home .transfer-card .transfer-form .groupBtn .btn:hover {
  opacity: 0.9;
}

.see-all {
  text-align: right;
}

/* Responsive */
@media (max-width: 1439.98px) {


  .home .card {
    height: 170px;
    width: 231px;
  }

  .home .list-payment {
    height: 170px;
    width: 231px;
    padding: 0;
  }

  .home .card .balance {
    font-size: 11px;
  }

  .home .card .money {
    font-size: 16px;
  }

  .home .card .holder,
  .home .card .valid {
    font-size: 10px;
  }

  .home .card .holder .name,
  .home .card .valid .ratio {
    font-size: 13px;
  }

  .home .card .number {
    font-size: 15px;
  }


  .home .right-side .recent .list-payment {
    height: 170px;
    width: 231px;
    padding: 10px;
  }


  .home .right-side .recent .list-payment .item .infor {
    font-size: 13px;
  }

  .home .right-side .recent .list-payment .item .date {
    font-size: 12px;
  }

  .home .right-side .recent .list-payment .item .positive {
    font-size: 11px;
  }

  .home .right-side .recent .list-payment .item .negative {
    font-size: 11px;

  }

  .home .right-side .icon {
    width: 40px;
  }

  .expense img {
    width: 231px;
    height: 261px;
  }

  .activity img {
    width: 487px;
    height: 261px;
  }

  .balance img {
    width: 423px;
    height: 220px;
  }
}

@media (max-width: 1043.98px) {
  .see-all {
    text-align: left;
  }

  .home {
    background-color: #fff;
  }

  .ant-row {
    justify-content: center;
  }

  .mobile-center {
    display: flex;
    justify-content: center;
  }

  .recent {
    margin-top: 30px;
  }

}