.settings-page .change-avtar-button {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
}

.settings-page .ant-upload {
  position: relative;
}



.settings-page img {
  position: absolute;
  left: 0;

}

.ant-form {
  position: relative;
}

.save-button {
  color: #fff;
  background-color: rgba(24, 20, 243, 1);
  padding: 20px 60px;
  border-radius: 10px;
  position: absolute;
  right: 20px;
}

.ant-switch-checked {
  background-color: #16DBCC !important;
}

.settings-page .ant-form-item-label>label {
  font-size: 16px;
  font-weight: 400;
}

.settings-page .ant-switch {
  transform: scale(1.2);
  /* phóng to 20% */
  margin-right: 12px;
  /* cách chữ ra xa hơn */
}

/* Tăng khoảng cách giữa các dòng notification */
.settings-page .notification-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  /* cách dòng rộng hơn */
  font-size: 15px;
  /* chữ to hơn 1 chút */
}

.avatar {
  width: 130px;
  height: 130px;
}

.settings-page .change-avtar-button {
  position: absolute;
  left: 90px;
  top: 90px;
}

@media(max-width:1439.98px) {
  .settings-page .ant-form-item-label>label {
    font-size: 13px;
  }
}

@media(max-width:991.98px) {

  .avatar {
    width: 170px;
    height: 170px;
  }

  .settings-page .change-avtar-button {
    left: 120px;
    top: 125px;
  }

  .settings-page .change-avtar-button img {
    width: 39px;
    height: 39px;
  }

  .settings-page .ant-upload {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .settings-page img.avatar {
    position: static;
    display: block;
    margin: 0 auto;
  }

  .settings-page .change-avtar-button {
    position: absolute;
    bottom: 10px;
    right: calc(50% - 65px);
  }
}