 .card {
   flex: 1;
   border-radius: 20px;
   padding: 20px;
   min-height: 180px;
   height: 235px;
   width: 350px;
   font-family: 'Lato', sans-serif;
   position: relative;

 }

 .card .number {
   margin-top: 20px;
   /* font-size: 18px; */
   letter-spacing: 2px;
   font-weight: 600;
   font-family: 'Lato', sans-serif;
 }


 .white-card {
   background: #f9fafb;
   border: 1px solid #ddd;
   color: #343C6A;
 }

 .white-card .balance,
 .white-card .holder,
 .white-card .valid {
   font-size: 12px;
   font-weight: 400;
   color: rgba(113, 142, 191, 1);
 }

 .white-card .money {
   font-size: 20px;
   font-weight: 600;
   color: #343C6A;
 }

 .white-card .holder .name,
 .white-card .valid .ratio {
   font-weight: 600;
   font-size: 15px;
   color: #343C6A;
 }

 .white-card .number {
   font-size: 22px;
   color: #343C6A;
 }

 @media (max-width: 1439.98px) {



   .card {
     height: 170px;
     width: 231px;
     padding: 20px 5px;
     gap: 5px;
   }

   .list-payment {
     height: 170px;
     width: 231px;
     padding: 0;
   }

   .card .balance {
     font-size: 11px;
   }

   .card .money {
     font-size: 16px;
   }

   .card .holder,
   .card .valid {
     font-size: 10px;
   }

   .card .holder .name,
   .card .valid .ratio {
     font-size: 13px;
   }

   .card .number {
     font-size: 15px;
   }
 }

 @media (max-width: 1043.98px) {

   .card {
     width: 265px;
     height: 170px;
     padding: 20px;
   }

   .mobile-center {
     display: flex;
     justify-content: center;
   }

 }